/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*User Defined*/
:root{
	--eater: 'Eater', cursive;
	--roboto: 'Roboto', sans-serif;
}

/*Landing Page*/
#landing-wrapper{
	font-family: var(--eater);
	height: 100vh;
	background-image: url('../img/landing-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#the{
	font-size: 10em;
	text-shadow: 1px 1px 1px #000;
}
#title{
	font-size: 8em;
	text-shadow: 1px 1px 1px #000;
}
#play-button{
	font-size: 2em;
	font-family: var(--roboto);
	text-transform: none;
	border: 1px solid #fff;
}

/*Level 1*/
#info-modal{
	text-transform: uppercase;
}
.modal-body > p{
	text-transform: none;
	font-weight: bold;
}
#level-1-body{
	background-image: url(../img/level-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
#hint-label,
#hint{
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #000;
}
#hint-button{
	cursor: pointer;
	color: yellow;
}
#timer{
	font-size: 5em;
	text-shadow: 2px 2px 2px #000;
}
.fa{
	font-size: 2em;
}
#riddle-container{
	background-color: rgba(0,0,0,0.4);
	padding: 25px 20px 10px 20px;
	border-radius: 5px;
}
#riddle{
	text-shadow: 1px 1px 1px #000;
}
#settings{
	font-size: 3em;
	text-shadow: 2px 2px 2px #000;
	cursor: pointer;
}
/*Images*/
#hammer{
	position: absolute;
	top: 80%;
}
#ball{
	position: absolute;
 	top: 75%;
 	left: 42%;
}
#pennywise-container{
	opacity: 0.5
}
#gameover{
	position: absolute;
	top: -10%;
}
#car{
	opacity: 0.2;
}
#bottle{
	position: absolute;
	top: 70%;
	left: 90%;
}
#rat{
	position: absolute;
	top: -2%;
	left: 80%;
}

/*Level-2*/
#level-2-body{
	background-image: url(../img/level-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
#knife{
	position: absolute;
	top: 58%;
	left: 90%;
}
#toaster{
	position: absolute;
	top: 17%;
	left: 75%;
}
#soda{
	position: absolute;
 	top: 75%;
 	left: 42%;
}
#yoyo{
	position: absolute;
	top: 50%;
}
#clock{
	position: absolute;
	opacity: 0.1;
	left: 40%;
}

/*Level 3*/
#level-3-body{
	background-image: url(../img/level-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
#doll{
	position: absolute;
	top: 80%;
}
#mask{
	position: absolute;
	top: 10%;
	left: 80%;
}
#saporo{
	position: absolute;
	opacity: 0;
	left: 40%;
}
#bat{
	height: 100px;
	width: 250px;
}
/*Congratulations Page*/
#congrats-container{
	height: 100vh;
	background-image: url('../img/congrats-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.shadow-effect{
	text-shadow: 1px 1px 1px #000;
}